
body {

  background-image: url('../images/Image-Green-Background.jpg');
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper {
  background-color: #006a3e
}

/*not currently working*/
.collapsible {
  border-radius: 50px;

}

footer.page-footer {
  background-color: #006a3e
}